/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    .navigation li:first-child {
      display: block;
    }
    /*.menuHide {
      display: none;
    }*/
    .contentbox {
      display: block;
    }
    .responsive li {
      display: none;
    }
    .cards {
      margin: 1rem auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1048px;
      background-color: chartreuse;
    }
    /*.grid {
      display: grid;
      margin: 1rem auto;
      grid-gap: .5rem;
      /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
     /* grid-template-columns: 1fr 1fr 1fr;
      max-width: 1048px;
    }*/
    
    
  }