/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    h1 {
      font-size: 2.5rem;
      /*margin: 0.15rem;*/
      color: white;
    }
    h2 {
      font-size: 1.5rem;
      color: white;
    }
    /*p {
      color: white;
    }*/
    .p2 {
      font-family: "Piazzolla", Helvetica, serif;
      font-size: 1.1em;
      line-height: 1em;
      padding: 10px;
      color: white;
      /*text-align: justify;*/
      margin-top: 0;
      text-align: left;
    }
    header,
    footer {
      border-radius: 10px;
      color: #1200b3;
    }
    header img {
      width: 200px;
      height: auto;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      float: left;
      border-radius: 10px;
    }
  
    .navigation ul {
      /* flex-wrap: wrap; */
      display: flex;
    }
  
    .navigation li:first-child {
      display: block;
    }
  
    .navigation li {
      display: block;
      flex: 1 1 100%;
    }
    nav ul {
      display: none;
      padding: 0;
      margin: 0;
      list-style: none;
      overflow: hidden;
    }
  
    nav ul li {
      display: flex;
      flex-direction: row;
    }
  
    nav button {
      display: none;
    }
  
    nav ul.hide {
      display: flex;
    }
    nav ul.responsive {
      display: none;
    }
    nav li {
      flex: 3;
      font-family: "Cabin", Helvetica, sans-serif;
      font-size: 1.5em;
  
      /*  mainnav .classList .remove('responsive')
      }};*/
    }
    .banner {
      font-size: 2em;
    }
    /*.menuHide {
      display: none;
    }*/
    .responsive li {
      display: none;
    }
  
   
    
  
    .cards {
      margin: 1rem auto;
      display: grid;
      grid-template-columns: 1fr;
      max-width: 1048px;
      background-color: crimson;
    }
    
    /* alternating articles*/
    
  * {
    padding: 0.35rem;
  }
  h2 {
    font-size: 1em;
    text-align: center;
  }
    section {
      max-width: 600px;
      margin: 0.5rem auto;
      border: 1px solid #bbb;
      background-color: hsl(291, 84%, 43%);
      display: flex;
      flex-wrap: wrap;
    }
    
    article {
      display: flex;
      flex-direction: row;
      
    }
    
    article:nth-child(odd) {
      flex-direction: row-reverse;
    }
    
    .articleimg {
      border: 1px solid #000080;
      width: 55%;
      height: auto;
    }
    .data {
      background-color: hsl(291, 84%, 43%);
      color: #fff;
    }
    
   
    /*.grid {
      display: grid;
      margin: 1rem auto;
      grid-gap: .5rem;
     /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
     /* grid-template-columns: 1fr 1fr;
      max-width: 1048px;
    }*/
    footer {
      max-width: 1100px;
      height: auto;
      font-size: 0.8rem;
    }
    footer a {
      color: white;
    }
  } /*end medium */